# ==============================================
# Policy File of PowerOffAlarm Executable File
# ==============================================

# ==============================================
# Type Declaration
# ==============================================

type power_off_alarm, domain, coredomain;
